body {
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 245, 245, 0.7);
	margin: 0;
}

.color-change-2x {
  -webkit-animation: color-change-2x 17s linear infinite alternate both;
          animation: color-change-2x 17s linear infinite alternate both;
}


/* Animation */
/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}





/* Container */
.container {
  padding: 2%;
}
/* End Container */



/* Navigation bar */
nav {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0; 
}

nav h2{
  color: rgb(0, 0, 0);
}

nav ul {
	display: flex;
  font-size: 20px;
/* 	list-style-type: none; */
}

nav ul li {
  color: rgb(0, 0, 0);
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}

nav ul li:hover {
	border-bottom-color: #000;
}


@media screen and (max-width: 700px) {
	nav {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
	}
  nav h2{
    /* display: flex; */
    padding-bottom: 4%;
    justify-content:center;
    font-size: 30px;
  }

  nav ul {
    font-size: 27px;
  }
}
/* End navigation bar */



/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
} 
header h1 {
  margin: 35px;
  /* padding-bottom: 2%; */
  /* display: flex;
  justify-content: center; */
  font-size: 50px;
  font-weight: bold;
}

header  p {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 21px;

}

header button {
  margin: 16px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 700px) {
  header h1 {
    font-size: 35px;
  }
  header  p {
    height: 80px;
    width: 90%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    font-size: 20px;
    overflow: auto;
  }
  
}
/* End Header */


/* Main section */
.main {
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/* End Main section */



/* Projects */
.projects{
  display: flex;
  flex-wrap: wrap;
}

.projects .projects_card{
  margin-right: 4em;
  cursor: pointer;
}

.projects .projects_card_img{
  width: 60vh;
  height:60vh;
  background-color: rgb(255, 255, 255)
}

.projects .projects_card .projects_infos .projects_card_dates{
  display: flex;
  flex-wrap:wrap; 
  /* justify-content: space-between; */
}

/* .projects_card_title {
  margin-top: 3rem;
  font-weight: 900;
} */

.projects_infos {
  margin-top: 3rem;
  width: 70vh;
}

.projects_card_title {
  margin-top: 2rem;
  font-size: 20px; 
  font-weight: 900;

}
.projects_card_dates {
  margin-top: 1rem;
  font-weight: 600;
}

.projects_card_description {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 17px;
  width: 70vh;
  line-height: 1.4em;
}

/* End Projects */


/* Footer */
/* End footer */
